<form method="get">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="search" placeholder="Search" value="@ViewData["search"]" />
        <button class="btn btn-outline-secondary" type="submit">Search</button>
    </div>
</form>